<form method="POST" action="/new">
  <label
    >Name:
    <input name="author" type="text" />
  </label>
  <label
    >Message:
    <input name="msg" type="text" />
  </label>
  <button type="submit">Submit</button>
</form>
